nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px; }
  nav.black {
    background: rgba(0, 0, 0, 0.5);
    height: 100px;
    padding: 10px 100px;
    z-index: 100; }
  nav .collapse-bar {
    display: none; }
  nav .logo {
    padding: 10px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    transition: .3s;
    font-family: "Pacifico", cursive; }
    nav .logo a {
      color: #fff;
      font-size: 2.3rem;
      text-decoration: none; }
  nav .main-menu {
    float: right;
    margin: 0;
    padding: 0; }
    nav .main-menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex; }
      nav .main-menu ul li {
        display: inline-block; }
        nav .main-menu ul li a {
          font-size: 1.1rem;
          color: #fff;
          line-height: 80px;
          padding: 12px 15px;
          font-family: "Roboto", sans-serif;
          text-decoration: none; }
          nav .main-menu ul li a:hover {
            color: #bea485;
            transform: scale(2.3); }

.header {
  background: url("../img/title.jpeg") no-repeat;
  background-size: cover;
  background-position: fixed;
  min-height: 700px;
  color: #fff; }
  .header .opacity-background {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    min-height: 700px; }
    .header .opacity-background .innerHeader {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 700px; }
    .header .opacity-background .container h2 {
      margin-bottom: 4rem;
      font-family: "Pacifico", cursive; }
    .header .opacity-background .container h3 {
      letter-spacing: 1.5rem;
      text-transform: uppercase; }

.about-container .innerContent {
  position: relative;
  display: flex;
  justify-content: center;
  height: 300px; }
  .about-container .innerContent .container {
    position: absolute;
    top: -35px;
    background: #fff;
    max-width: 700px; }
    .about-container .innerContent .container .first-row .col-md-8 {
      padding: 0; }
    .about-container .innerContent .container .first-row .left-content {
      padding: 40px;
      text-align: center; }
      .about-container .innerContent .container .first-row .left-content h3 {
        font-family: "Pacifico", cursive; }
      .about-container .innerContent .container .first-row .left-content p {
        margin: 1.5rem 0;
        font-size: .8rem; }
      .about-container .innerContent .container .first-row .left-content .btn {
        border: 2px solid #bea485;
        color: #bea485; }
        .about-container .innerContent .container .first-row .left-content .btn:hover {
          background: #bea485;
          color: #fff; }
    .about-container .innerContent .container .first-row .right-content {
      background: url("../img/outdoor.jpg") no-repeat;
      background-size: cover; }
    .about-container .innerContent .container .second-row .left-content {
      background: url("../img/dining.jpg") no-repeat;
      background-size: cover;
      width: 100%;
      padding-left: 3rem; }
    .about-container .innerContent .container .second-row .right-content {
      text-align: center; }
      .about-container .innerContent .container .second-row .right-content h3 {
        margin-top: 2rem;
        font-size: 1.5rem;
        font-family: "Pacifico", cursive; }
      .about-container .innerContent .container .second-row .right-content p {
        padding: 0 10px 20px;
        margin-top: 1.5rem;
        font-size: .8rem; }

.speciality-header {
  background: url("../img/specialty.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 100px; }
  .speciality-header .opacity-container {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 400px; }
    .speciality-header .opacity-container .innerContent {
      padding-top: 200px; }
      .speciality-header .opacity-container .innerContent h2 {
        text-transform: uppercase;
        letter-spacing: 10px;
        text-align: center;
        color: #fff;
        font-size: 3rem; }

.speciality-container {
  height: 300px; }
  .speciality-container .innerContent {
    position: relative;
    display: flex;
    justify-content: center; }
    .speciality-container .innerContent .container {
      position: absolute;
      top: -50px;
      background: #fff;
      max-width: 700px; }
      .speciality-container .innerContent .container .first-row .menu {
        text-align: center;
        padding: 20px; }
        .speciality-container .innerContent .container .first-row .menu h3 {
          font-family: 'roboto', sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 1.2rem;
          letter-spacing: 2px;
          margin-bottom: 1.5rem; }
        .speciality-container .innerContent .container .first-row .menu p {
          font-size: .8rem;
          padding: 0px;
          color: #b8b8b8;
          margin-bottom: 1rem; }
        .speciality-container .innerContent .container .first-row .menu h4 {
          text-transform: uppercase;
          font-size: .9rem;
          color: #b59974; }
      .speciality-container .innerContent .container .first-row .img-container-one {
        background: url("../img/bibim.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%; }
      .speciality-container .innerContent .container .first-row .img-container-two {
        background: url("../img/cheese.jpg") no-repeat;
        background-size: cover;
        background-position: center; }
      .speciality-container .innerContent .container .second-row .menu {
        text-align: center;
        padding: 20px; }
        .speciality-container .innerContent .container .second-row .menu h3 {
          font-family: 'roboto', sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 1.2rem;
          letter-spacing: 2px;
          margin-bottom: 1.5rem; }
        .speciality-container .innerContent .container .second-row .menu p {
          font-size: .8rem;
          padding: 0px;
          color: #b8b8b8;
          margin-bottom: 1rem; }
        .speciality-container .innerContent .container .second-row .menu h4 {
          text-transform: uppercase;
          font-size: .9rem;
          color: #b59974; }
      .speciality-container .innerContent .container .second-row .img-container-one {
        background: url("../img/cutlet.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%; }
      .speciality-container .innerContent .container .second-row .img-container-two {
        background: url("../img/ddukbogi.jpg") no-repeat;
        background-size: cover;
        background-position: center; }

.transition {
  background: url("../img/transition.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px; }

.menu {
  margin-top: 100px; }
  .menu .container .title {
    text-align: center; }
    .menu .container .title h2 {
      font-family: "Pacifico", cursive;
      font-size: 4rem; }
    .menu .container .title .line {
      border-bottom: 3px solid #bea485;
      display: inline-block;
      width: 8%;
      margin: 0 auto;
      padding-top: 1rem; }
    .menu .container .title h4 {
      margin-top: 4rem;
      text-transform: uppercase;
      font-family: 'roboto',sans-serif;
      letter-spacing: 2px;
      font-size: 1.3rem;
      color: #b8b8b8;
      margin-bottom: 4rem; }
  .menu .container .menu-list {
    margin-bottom: 2rem; }
    .menu .container .menu-list .name {
      font-size: 1rem;
      font-family: 'roboto',sans-serif;
      font-weight: 700;
      text-transform: uppercase; }
    .menu .container .menu-list .container {
      padding: 0;
      margin: 0; }
      .menu .container .menu-list .container .description p {
        font-size: .8rem;
        padding-top: 1rem;
        color: #b8b8b8; }
      .menu .container .menu-list .container .price {
        color: #b59974;
        font-family: "Pacifico", cursive;
        font-size: 3rem;
        padding-bottom: 1rem; }

* {
  box-sizing: border-box; }

html, body, h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0; }

.location .title {
  text-align: center;
  margin: 4rem 0; }
  .location .title h2 {
    font-family: "Pacifico", cursive;
    font-size: 4rem; }
  .location .title .line {
    border-bottom: 3px solid #bea485;
    display: inline-block;
    width: 8%;
    margin: 0 auto;
    padding-top: 1rem; }

.location #map {
  width: 100%;
  margin: 0 auto;
  height: 400px;
  background-color: grey; }

@media only screen and (max-width: 780px) {
  .wrapper nav {
    display: block;
    text-align: center;
    position: absolute; }
    .wrapper nav.black {
      background: none; }
    .wrapper nav .logo {
      float: none; }
    .wrapper nav .collapse-bar {
      background: transparent;
      color: #fff;
      border: none;
      font-size: 35px;
      display: block;
      width: 100%; }
    .wrapper nav .main-menu {
      visibility: hidden;
      overflow: hidden;
      height: 0px;
      transition: height 2s ease; }
      .wrapper nav .main-menu.active {
        display: flex;
        justify-content: center;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        visibility: visible;
        height: auto;
        overflow: auto; }
        .wrapper nav .main-menu.active ul {
          display: block; }
          .wrapper nav .main-menu.active ul li {
            display: block; }
  .header .opacity-background .container h3 {
    letter-spacing: 0.5rem;
    font-size: 1.1rem; }
  .about-container .innerContent {
    height: 100%;
    position: relative; }
    .about-container .innerContent .container {
      position: static; }
      .about-container .innerContent .container .first-row .left-content {
        background: #eee;
        margin: 3rem 0; }
      .about-container .innerContent .container .first-row .right-content {
        display: none; }
      .about-container .innerContent .container .second-row .left-content {
        margin-top: 2rem;
        height: 200px;
        width: 72%;
        margin: 0 auto; }
      .about-container .innerContent .container .second-row .right-content {
        margin-top: 1.5rem; }
        .about-container .innerContent .container .second-row .right-content h3 {
          font-size: 2.5rem; }
        .about-container .innerContent .container .second-row .right-content p {
          font-size: .9rem; }
  .speciality-header .opacity-container {
    display: flex;
    justify-content: center;
    align-items: center; }
    .speciality-header .opacity-container .innerContent {
      padding: 0; }
  .speciality-container {
    height: 100%; }
    .speciality-container .innerContent .container {
      position: static; }
      .speciality-container .innerContent .container .first-row .img-container-one {
        display: none; }
      .speciality-container .innerContent .container .first-row .img-container-two {
        display: none; }
      .speciality-container .innerContent .container .second-row .img-container-one {
        display: none; }
      .speciality-container .innerContent .container .second-row .img-container-two {
        display: none; }
  .menu .container .menu-list {
    padding-left: 2rem;
    margin: 0; }
    .menu .container .menu-list .col-md-6 {
      margin-bottom: 1.5rem; }
      .menu .container .menu-list .col-md-6 .col-md-9 {
        width: 60%; }
      .menu .container .menu-list .col-md-6 .col-md-3 {
        width: 40%; }
        .menu .container .menu-list .col-md-6 .col-md-3 .price {
          font-size: 2rem;
          padding-left: 2.5rem; }
  .transition {
    display: none; } }

@media only screen and (min-width: 781px) {
  .speciality-container .innerContent .mobile-img {
    display: none; } }
