#contact {
  height:100vh;
  width:100%;

  .contact-container {
    margin:0 auto;
    text-align:center;
    max-width:960px;
    height:100%;
    background:#fff;
    padding:40px;

    .contact-title{
      margin-top:55px;
      h3 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 50px;
        font-size:80px;
        display:inline-block;
        border-bottom: 2px solid black;
        padding-top: 50px;
        padding-bottom:20px;
        font-weight:100;
      }
    }
    .contact-form{
      width:50%;
      margin:0 auto;
      .name-container {
        margin-bottom:20px;
        .name{
          width:100%;
          background: #F7F7F7;
          padding:20px 30px;
          font-size:14px;
          border:none;
        }
      }
      .email-container{
        margin-bottom:20px;
        .email{
          width:100%;
          background: #F7F7F7;
          padding:20px 30px;
          font-size:14px;
          border:none;
        }
      }

      .message-container{
        .message{
          width:100%;
          height:300px;
          background: #F7F7F7;
          padding:40px 30px;
          font-size:17px;
          border:none;
        }
      }

      .btn {
        margin-top:20px;
        button{
          border:none;
          background: #3899ED;
          padding:20px 40px;
          font-size:20px;
          color: #fff;

          &:hover {
            background: rgba(0, 0, 0, 0.4);
            cursor: pointer;
          }
        }
      }
    } //contact-form closing tag //
  } //contact-container closing tag //
}
