#feature{
  margin-top:2rem;
  min-height:600px;
  background: linear-gradient(228deg, rgba(68,85,250,0.8533788515406162) 0%, rgba(135,148,215,1) 31%,rgba(255,0,230,0.6797093837535014) 100%);
  .left-container{
    .row{
      .col-md-9{
        padding:100px 20px 20px;
        .title-container{
          display:none;
          margin-bottom:4rem;
          .row{
            h2{
              color:#fff;
              margin-bottom:2rem;
            }
            p{
              font-size:1.1rem;
              color:rgba(255, 255, 255, 0.5);
            }
          }
        }

        .img-container{
          display:none;
          padding:0;
          margin:0;
          .row{
            img{
              min-width:300px;
              width:80%;
              margin-bottom:2rem;
            }

            .col-md-4{
              .description{
                margin-bottom:2.5rem;
                span{
                  .fas{
                    margin-right:.5rem;
                  }
                }
                h2{
                  font-size:1.2rem;
                  text-transform:uppercase;
                  color:#fff;
                  margin-bottom:1rem;
                }
                p{
                  color:rgba(255, 255, 255, 0.5);
                  margin-left:2rem;
                }
              }
            }
          }
        }
      }

      .col-md-3{
        display:none;
        .counter{
          margin-bottom:3rem;
          text-align:center;
          h3{
            font-size:3rem;
            color:#fff;
            margin-bottom:1.5rem;
          }
          p{
            color:rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
}

@media only screen and (min-width:720px){
  #feature{
    margin-top:0;
    .left-container{
      .col-md-9{
        .title-container{
          .row{

          }
        }

        .img-container{
          .row{
            .col-md-8{
              img{
                width:95%;
                margin-top:4rem;
              }
            }
            .col-md-4{
              .description{
                h2{
                  font-size:.5rem;
                }
              }
            }
          } // End of img-container
        }
      }
    }
  }
}

@media only screen and (min-width:768px) and (max-width:1199px){
  #feature{
    background: linear-gradient(228deg, rgba(68,85,250,0.8533788515406162) 0%, rgba(135,148,215,1) 31%, rgba(255,0,230,0.6797093837535014) 100%);
    .row{
      .col-md-9{
        max-width:100%;
        flex-basis:100%;
        background:none !important;
        .col-md-4{
          margin-top:4.5rem;
        }
      }
      .col-md-3{
        max-width:100%;
        flex-basis:100%;
        background:none !important;
        display:flex;
        justify-content:space-around;
        padding:0 !important;
      }
    }
  }
}

@media only screen and (min-width:1200px){
  #feature{
    .row{
      .col-md-9{
      }
      .col-md-3{
        background:rgba(255,255,255,.1);
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
      }
    }
  }
}
