
// Header section containing the nav
header{
  position:fixed;
  width:100%;
  &.active{
    background:rgba(255,255,255,.5);
    border-bottom:solid 2px #ddd;
    .nav-container{
      .logo{
        a{
          color:#fff;
        }
      }
    }
  }
  .nav-container{
    padding:30px 20px;
    color:blue;
    display:flex;
    justify-content:space-between;
    .logo{
      display:inline-block;
      float:left;
      a{
        text-transform:uppercase;
        color:#fff;
        font-size:1.3rem;
        text-decoration:none;
      }
    }

    .btn-collapse{
      display:inline-block;
      background:transparent;
      border:none;
      color:#fff;
      cursor:pointer;
      .fas{
        font-size:1.5rem;
      }
    }

    .main-menu{
      display:block;
      position:absolute;
      top:100%;
      right:0;
      left:0;
      height:0;
      overflow:hidden;
      transition:height 2s ease;
      &.active{
        height:auto;
        background:rgba(80,203,134,.5);
        li{
          border-bottom:solid 1px rgb(80,203,134);
          &:hover{
            background:rgb(80,203,134);
          }
        }
      }
      ul{
        padding:0;
        margin:0;
        li{
          list-style:none;
          padding:20px 40px 20px 20px;
          a{
            padding:20px 20px 20px 0;
            text-decoration:none;
            color:#fff;
          }
          &:hover{
            a{
              color:#fff;
            }
          }
        }
      }
    }
  }
} // End of Header


// Beginning of the title-content
#title-content{
  height:75vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  background: linear-gradient(45deg, rgba(68,85,250,0.8533788515406162) 0%, rgba(135,148,215,1) 31%, rgba(255,0,230,0.6797093837535014) 100%);
  .title-text{
    animation-duration:2s;
    h2{
      font-size:2rem;
      color:#fff;
    }
    p{
      color:#fff;
      margin:1rem 0 3.5rem;
    }
    a{
      background:#50CB86;
      padding:15px 30px;
      color:#fff;
      border-radius:30px;
      text-transform:uppercase;
    }
  }
}

@media only screen and (min-width:720px){
  header{
    .nav-container{
      max-width:1600px;
      margin:0 auto;
      align-items:center;
      padding:10px 20px;
      .btn-collapse{
        display:none;
      }
      .main-menu{
        height:auto;
        position:relative;
        ul{
          padding:0;
          margin:0;
          li{
            display:inline-block;
            padding:20px;
            a{

            }
          }
        }
      }
    }
  }

  #title-content{
    .title-text{
      h2{
        font-size:4rem;
      }
    }
  }
}
