*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  background: #fff;
}

header{
  background: url('../images/wave.jpeg')no-repeat;
  height: 100vh;
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
}

header h1{
  font-size:40px;
  margin-bottom:20px;
}

header button{
  margin-top:20px;
  width:15%;
  padding:10px;
  border: 1px solid #fff;
  border-radius: 15px;
  background: none;
  color:white;
  font-size:15px;
}

header button:hover{
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
}

#content-a {
  padding:20px;
  width:60%;
  margin:40px auto 0px;
  text-align: center;
  background: #f4f4f4;
}

#content-b{
  padding:20px;
  width:60%;
  margin:0 auto;
  text-align: center;
}

#content-c{
  display:flex;
  padding:20px;
  width:60%;
  margin:0 auto;
  text-align: center;
}

#content-c p{
  margin-right:50px;
}

#content-c .first{
  background:#f4f4f4;
}

#content-c .third{
  background:#f4f4f4;
}
