/* BIG TABLETS TO 1200px */
@media only screen and (max-width: 1200px){
  .hero-text-box{
    width:100%;
    padding: 0 2%;
  }

  .row{
    padding: 0 2%;
  }
}

/* SMALL TABLETS TO BIG TABLETS: 768px to 1023px */
@media only screen and (max-width: 1023px){

  header .hero-text-box{
    transform:translate(-30%,-50%);
  }

  html body{
    font-size:18px;
  }

  section{
    padding:60px 0;
  }

  .long-copy{
    width:80%;
    margin-left:10%;
  }

  .steps-box{
    margin-top:10px;
  }

  .steps-box:last-child{
    margin-top:10px;
  }

  .works-steps{
    margin-bottom:40px;
  }

  .works-steps:last-child{
    margin-bottom:60px;
  }

  .app-screen{
    width:50%;
  }

  .city-feature .icon{
    font-size:
  }

  .plan-box{
    width:100%;
    margin-left:0%;
  }

  .plan-price{
    font-size:250%;
  }

  .section-form{
    width:80%;
  }
}


/* SMALL PHONES TO SMALL TABLETS: 481px to 767px */
@media only screen and (max-width: 767px){
  html body{
    font-size:16px;
  }

  body section{
    padding:30px 0px;
  }

  body .col{
    margin: 0 0 4% 0;
  }

  .row,
  .hero-text-box{
    padding:0 4%;
  }

  .col{
    width:100%;
  }

  header .mobile-nav-icon {
    display:inline-block;
  }

  header .main-nav{
    float:left;
    margin-top:35px;
    margin-left:25px;
    display:none;
  }

  header .main-nav li{
    display:block;
  }

  header .main-nav li a:link,
  header .main-nav li a:visited{
    display:block;
    border:0;
    padding:10px 0px;
    font-size:100%;
  }

  .sticky .main-nav{
    margin-top:10px;
  }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited{
    color:#555;
    padding:10px 0px;
  }

  .sticky .mobile-nav-icon i{
    color:#555;
  }

  .sticky .mobile-nav-icon{
    margin-top:10px;
  }

  header .hero-text-box{
    top:40%;
    left:7%;
    transform:none;
  }

  body h1{
    font-size:180%;
  }

  body h2{
    font-size:130%;
  }

  .section-feature .long-copy{
    width:100%;
    margin:left:0;
  }

  body .section-steps .steps-content{
    margin-top:0;
  }

  .section-steps .app-screen{
    width:50%;
  }

  .section-steps div:first-child{
    text-align:center;
  }

  .section-steps .works-step div{
    height:40px;
    width:40px;
    margin-right:15px;
    padding:4px;
    font-size:120%;
  }

  .section-steps .work-step {
    margin-bottom:20px;
  }

  .section-steps .work-step:last-of-type{
    margin-bottom:20px;
  }

  footer .footer-nav{
    float:none;
    text-align:center;
  }
  footer .footer-nav li{
    margin-right:5px;
  }

  footer .social-links{
    float:none;
    text-align:center;
  }

}




/* SMALL PHONES: 0 to 480px */
@media only screen and (max-width: 480px){
  body section{
    padding:60px 0 20px 0;
  }

  body .section-form{
    width:100%;
  }

  .section-meals .meals-showcase li{
    width:50%;
  }

  header .hero-text-box h1{
    font-size:125%;
    line-height:1.5;
  }

  body h2{
    font-size:100%;
  }
}
